html{
	background-color: black;
}

img{
	margin: auto;
}

div.carousel-caption{
	font-size: 180%;
	color: rgb(0, 0, 0);
	text-shadow: 2px 2px 10px rgb(0, 0, 0);
	height: 15%;
}

#demo{
	padding: 1% 10% 0% 10%;
}

#grid-card{
	display: grid;
	grid-auto-columns: 30%;
	padding: 20px 5% 0px 5%;
	justify-content: center;
	grid-gap: inherit;
}

#grid-bandera{
	display: grid;
	grid-template-columns: auto auto;
	padding: 40px 4% 20px 4%;
	grid-gap: 10px 50px;
}

#card-bandera{
	width: 100%;
	text-align: right;
}

#bandera{
	width: 100%;
	height: 100%;
}

.aptitud{
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.d-block{
	width: 80%;
	align-self: auto;
}

.navbar{
	font-family: 'Arial';
}

.navbar-brand{
	padding: 0px 0px 0px 15px;
}
.form-inline{
	padding: 0px 15px 0px 0px;
}

.visually-hidden{
	font-family: 'Arial Black';
	color: rgb(0, 0, 0);
}

.pie{
	padding: 20px 0px 0px 0px;
	height: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	color: #ffffff;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 90%;
}
